.hb-mergin-reset {
    margin: 0px !important;
}

.hb-text-middle {
    vertical-align: middle !important;
}

.hb-td-size-50 {
    width: 50px !important;
}

.hb-td-size-60 {
    width: 60px !important;
}

.hb-td-size-70 {
    width: 70px !important;
}

.hb-td-size-100 {
    width: 100px !important;
}

.hb-td-min-size-100 {
    min-width: 100px;
}

.hb-td-size-150 {
    width: 150px !important;
}

.hb-td-size-300 {
    width: 300px !important;
}

.hb-td-min-size-300 {
    min-width:300px !important;
}

.hb-over-flow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.dragandrop {
    font-size: 24px;
    font-weight: 700;
    color:#92AAB0;
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
    border: dashed 2px #92AAB0;
    border-radius: 6px;
    height: 100px;
    line-height: 100px;
}

.hb_tags {
    font-size: 0.9em;
    padding: 1px 4px 1px;
    margin: 2px;
    background: #777;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.hb_tags_font {
    color: #fff !important;
}

.hb_hcenter {
    text-align: center !important;
}

.hb_vcenter {
    vertical-align: middle !important;
}

.list-group .flex {
  display: flex;
  justify-content: space-between;
}

.text-truncate {
    overflow: hidden !important;
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

body {
  /* フッタの下側マージンの高さ */
  margin-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
    border-color: #080808;
    z-index:999;
}

.footer .container .text-muted {
    margin: 20px 0;
}
     
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

